

Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 160px;
  border: 1px solid #000033;
  border-radius: 100px;

  
  font-size: 16px;
  color: #000033;
  letter-spacing: 1.27px;
  text-align: center;

 
}

Button:hover{
  background-color: #000033;
  color: yellowgreen;
  border: black;
}

Button:active{
  background-color: #000033;
  color: yellowgreen;
  border: black;
  
}