 /* 
My styling is based on personal knowledge of css and refferenced code examples from
w3schools.com
codepen.io
css-tricks.com
*/


html{
  min-height: 100%;
  min-height: 100vh;
}

body {
  min-height: 100%;
  min-height: 100vh;
}

body {
  font: 16px 'Roboto', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #f6f6f6;
}

.app {
  max-width: 100rem;
  width: 100%;
  background: lightgray;
  padding: 1rem;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}


  header {
    position: relative;
    top: 0;
    overflow: hidden;
    display: block;
    color: white;
    background: gray;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem;
    margin: .5rem 1rem;
    text-align: center;
    transition: 200ms;
  }


  
  


.main {
  flex: 1 1 auto;
  color: #000033;
  background:white;
  width: 100%;
    padding: 1rem;
    margin: .5rem 1rem;
    text-align: center;
    transition: 200ms;
}

.footer {
  width: 100%;
  padding: 1rem;
  margin: .5rem 1rem;
  text-align: center;
  transition: 200ms;
  background-color: #000033;
  color: white;
}
  .footer, .header, .main:hover {
    box-shadow: 0 0 2rem aqua;
  }


.App {
  text-align: center;
}

.App-header {
  background-color: #000033;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: aquamarine;
  padding: 20px;
  cursor: pointer;
  width: 100%;
    padding: 1rem;
    margin: .5rem 1rem;
    text-align: center;
    transition: 200ms;
  
}

.App-header a{
  text-decoration: none;
  color: yellowgreen;
  font-style: oblique;
  font-size: calc(10px + 4vmin);
}




/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

img{
  display:flex;
  
  
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}


.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  
}


input[type="submit"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 120px;
  border: 0 solid #000033;
  border-radius: 100px;

  
  font-size: 16px;
  color: #000033;
  letter-spacing: 1.27px;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #000033;
  color: yellowgreen;
  border: black;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
  border-radius: 100px;
  font-size: 16px;
  color: #000033;
  letter-spacing: 1.27px;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  
}



@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}


